<div class="background">
  <div class="container col-8 col-sm-6 col-md-5 col-lg-4 col-xl-3 rounded">
    <div class="login">
      <div class="login-title">
        <h1>{{ "Hello" | translate }}</h1>
        <h1>{{ "Welcome_Back" | translate }}</h1>
      </div>
      <form
        [formGroup]="form"
        class="col-12 d-flex flex-column align-items-center"
      >
        <div
          input-text
          [formControlName]="'email'"
          [label]="'Email'"
          [placeholder]="'Enter_Email'"
          [columnSize]="'10'"
          [type]="'email'"
        ></div>
        <div
          input-text
          [formControlName]="'password'"
          [label]="'Password'"
          [placeholder]="'Enter_Password'"
          [columnSize]="'10'"
          [type]="'password'"
          class="mt-3"
        ></div>
        <div class="d-grid gap-2 mt-5 col-10">
          <button
            class="btn btn-success"
            [disabled]="!form.valid"
            (click)="loginAsync()"
          >
            {{ "Login" | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
