.header {
  margin-bottom: 10px;
}

.logo {
  margin-right: 12px;
}

.logo > img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.text {
  font-size: 14px;
  line-height: 18px;
}

.content > img {
  width: 100%;
  height: fit-content;
}

.icon {
  padding: 8px;
}

.icons {
  margin-top: 2px;
  margin-bottom: 4px;
}
