<h1>{{ "Publish" | translate }}</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()" class="mt-5">
  <div>
    <label class="form-label">{{ "Content" | translate }}</label>
    <textarea
      type="text"
      class="form-control"
      formControlName="text"
      rows="6"
      placeholder="{{ 'Enter_Content' | translate }}"
    ></textarea>
  </div>
  <label class="form-label mt-2">{{ "Plataforms" | translate }}</label>
  <div class="col-12 d-flex gap-2">
    <app-image-checkbox
      formControlName="x"
      imagePath="assets/images/brands/x.png"
    ></app-image-checkbox>
    <app-image-checkbox
      formControlName="instagram"
      imagePath="assets/images/brands/instagram.png"
    ></app-image-checkbox>
  </div>
  <button
    type="submit"
    class="btn btn-primary float-end mt-2"
    [disabled]="form.invalid"
  >
    {{ "Create_Post" | translate }}
  </button>
</form>
