<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">{{ "Confirm" | translate }}</h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
        (click)="close()"
      ></button>
    </div>
    <div class="modal-body">
      <ng-container *ngTemplateOutlet="icone"></ng-container>
      <p class="d-flex justify-content-center">
        {{ modalMessage | translate }}
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="close()">
        {{ "No" | translate }}
      </button>
      <button
        type="button"
        class="btn"
        [ngClass]="{
          'btn-success': confirmableType === confirm,
          'btn-danger': confirmableType === delete,
          'btn-primary': confirmableType === inform
        }"
        (click)="confirmButton()"
      >
        {{ "Yes" | translate }}
      </button>
    </div>
  </div>
</div>

<ng-template #icone>
  <div class="d-flex justify-content-center">
    <app-icon class="icon" *ngIf="confirmableType === confirm"
      >check_circle</app-icon
    >
    <app-icon class="icon" *ngIf="confirmableType === delete">delete</app-icon>
    <app-icon class="icon" *ngIf="confirmableType === inform">info</app-icon>
  </div>
</ng-template>
